@model List<P01_CF.Entities.Person>

@{
    ViewData["Title"] = "Home Page - Person List";
    int index=0;
}

<div>
    <h1 class="display-4">OUR PERSON LIST</h1>
    <hr />
    <br />
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>EMail</th>
            <th>Phone</th>
            <th>Address</th>
            <th>PostCode</th>
            <th>City</th>
            <th>Gender</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PersonId</td>
                <td>@item.PFName</td>
                <td>@item.PLName</td>
                <td>@item.PEMail</td>
                <td>@item.PPhone</td>
                <td>@item.PAddress</td>
                <td>@item.PPostCode</td>
                <td>@item.PCity</td>
                <td>@item.PGender</td>
            </tr>
        }
    </table>
</div>
